<footer class="footer" id="footer">
    <div class="footer__background background"></div>
    <div class="container">
        <div class="footer__inner">

            <div class="footer__col">
                <div class="social social--effect-shadow">
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link social__link--one" href="https://www.instagram.com/?hl=ru" title="Мы в Instagram" target="_blank" rel="noopener noreferrer"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link--two" href="https://vk.com/" target="_blank" title="Мы Вконтакте" rel="noopener noreferrer"></a>
                        </li>
                        <li class="social__item">
                            <a class="social__link social__link--three" href="https://github.com/kadonomaro" title="Разработка сайта" target="_blank" rel="noopener noreferrer"></a>
                        </li>
                    </ul>
                </div><!--social-->
            </div>

            <div class="footer__col">
                <div class="contacts">
                    <ul class="contacts__list">
                        <li class="contacts__item">
                            <a href="tel:88008000000" class="contacts__link contacts__link--phone">8 800 800 00 00</a>
                        </li>
                        <li class="contacts__item">
                            <a href="mailto:info@handmade-soap.ru" class="contacts__link contacts__link--mail">info@handmade-soap.ru</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__col">
                <div class="footer-links">
                    <ul class="footer-links__list">
                        <li class="footer-links__item">
                            <a href="/" class="footer-links__link">На главную</a>
                        </li>
                        <li class="footer-links__item">
                            <a href="/blog" class="footer-links__link">Творческая мастерская</a>
                        </li>
                        <li class="footer-links__item">
                            <a href="/gallery" class="footer-links__link">Галерея</a>
                        </li>
                        <li class="footer-links__item">
                            <a href="/faq" class="footer-links__link">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div><!--footer inner-->
        <div class="footer__bottom">
            2020 © handmade-soap.ru
        </div>
    </div><!--container-->
</footer>