<section class="subscribe">
    <div class="subscribe__inner">
    <div class="subscribe__background background"></div>
        <div class="subscribe__col">
            <h2 class="subscribe__title">Подписаться на рассылку</h2>
            <span class="subscribe__subtitle">Для получения новостей о мыле ручной работы</span>
        </div>
        <div class="subscribe__col">
            <form action="" method="POST" class="subscribe__form">
                <label class="subscribe__label" aria-label="input email">
                    <input class="subscribe__input js-subscribe-email" type="email" name="subscribe-email" placeholder="адрес электронной почты" required novalidate>
                </label>
                <button class="subscribe__button button js-subscribe-button" data-target="modal-thanks">Подписаться</button>
                <span class="subscribe__info js-subscribe-invalid"></span>
            </form>
        </div>
    </div>
</section>