<body class="page 404">
    <div class="all-wrapper">

        <header class="page-header page-header--404">
            <div class="page-header__background page-header__background--404 background"></div>
            <div class="page-header__nav">
                {{> navigation }}
            </div>

            <div class="container">
                <h1 class="page-header__title">Страница не найдена</h1>
                <span class="page-header__subtitle">Handmade soap</span>
            </div>

        </header>
        
        {{> footer }}

    </div><!--all-wrapper-->
    <script src="./asssets/js/404.js" type="module"></script>
</body>
