<body class="page blog-page">
    <div class="all-wrapper">

        {{> blocks/scroll-top }}

        <header class="page-header page-header--blog">
            <div class="page-header__background background"></div>
            <div class="page-header__nav">
                {{> navigation}}
            </div>

            <div class="container">
                <h1 class="page-header__title page-header__title--fade"> </h1>
                <span class="page-header__subtitle page-header__subtitle--hidden">Handmade soap</span>
            </div>


            <div class="page-header__slider">
                <div class="blog-slider">
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/coffee-fade.png" alt="Кофейные зерна" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/orange-fade.png" alt="Сочный апельсин" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/strawberry-fade.png" alt="Спелая клубника" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/argan-fade.png" alt="Аргановое масло" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/coconut-fade.png" alt="Кокосовое молоко" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/shea-fade.png" alt="Масло ши" class="blog-slider__img">
                        </div>
                    </div>
                </div>
            </div>

            <span class="page-header__slogan">Создай себе летнее настроение</span>

            <button class="page-header__button button js-blog-action">Узнать больше</button>

        </header>


        <section class="blog">
            <div class="blog__background background"></div>
            <div class="container">
                <div class="blog__inner">

                    <div class="blog__articles" id="articles">
                        <article class="blog-article" id="article-1">

                            <header class="blog-article__header">
                                <h2 class="blog-article__title">Как создаются шедевры</h2>
                                <span class="blog-article__subtitle">Вводный инструктаж</span>
                            </header>

                            <div class="blog-article__content">
                                <picture>
                                    <source media="(max-width: 600px)" data-srcset="./assets/images/blog/mobile/soap-splash-1-mobile.jpg">
                                    <img data-src="./assets/images/blog/soap-splash-1.jpg" alt="мыло ручной работы" class="blog-article__image lazyload">
                                </picture>
                                <div class="blog-article__text">
                                    <p>
                                        Далеко не все знают, как создается мыло ручной работы (иначе говоря, хенд мейд). 
                                        Но в этой статье мы посвятим вас в таинство мыловарения, и может кто-то захочет приобщиться к этому искусству.
                                    </p>
                                    <p>
                                        Главными преимуществами мыла ручной работы являются:
                                    </p>
                                    <ul>
                                        <li>натуральность продукта,</li>
                                        <li>уникальность ароматов и масел,</li>
                                        <li>индивидуальность</li>
                                    </ul>
                                    <p>
                                        Давайте подробнее разберем каждый из пунктов.
                                    </p>

                                    <h3>Натуральность</h3>
                                    <p>
                                        Что подразумевается под этим? Все ингредиенты, входящие в мыло ручной работы, 
                                        натуральны по своему природному происхождению с минимальным количеством синтетических добавок. 
                                        За счет этого достигается максимальный косметический эффект. 
                                        Такое мыло, в отличие от магазинного, меньше вызывает аллергические реакции.
                                    </p>

                                    <h3>Уникальность</h3>
                                    <p>
                                        При создании мыла своими руками можно смешивать разные ароматы, чтобы воплотить в жизнь свои самые смелые идеи. 
                                        Как вам черника и огурец? Здесь все зависит только от вашей фантазии. 
                                        Да, наверняка не все ароматы сочетаются друг с другом, но никто не мешает вам экспериментировать с ними.
                                    </p>

                                    <h3>Индивидуальность</h3>
                                    <p>
                                        Все люди разные, каждый имеет свое предпочтение по отношению к чему-либо и мыло ручной работы не является исключением. 
                                        Но еще очень важно учитывать типы кожи человека, если вы хотите чтобы ваше мыло приносило удовольствие от использования. 
                                        Женщинам подойдут одни ингредиенты, мужчинам другие, а детям желательно не добавлять никаких аллергенов.
                                    </p>

                                    <p>
                                        Конечно, это все можно найти и в магазинном мыле, но тогда зачем вы читаете эту статью? 
                                        Основным преимуществом мыла ручной работы является возможность комбинировать его составляющие 
                                        в разных пропорциях и получать совершенно невообразимые вещи.
                                    </p>

                                    <h3>Ингредиенты</h3>
                                    <p>
                                        Чтобы приступить к изготовлению мыла своими руками, вам понадобятся следующие ингредиенты:
                                    </p>
                                    <ul>
                                        <li>Мыльная основа (самая главная часть, которая и является самим мылом)</li>
                                        <li>Растительные масла (это может быть любое масло растительного происхождения, например абрикосовое или оливковое)</li>
                                        <li>Красители (лучше использовать натуральные или пищевые)</li>
                                        <li>Эфирные масла (от этого ингредиента зависит то, к какому типу кожи подойдет ваше мыло)</li>
                                        <li>Спирт (обычный медицинский спирт)</li>
                                        <li>Формы (пластиковые или силиконовые формы, вторые гораздо дороже, но и служат дольше)</li>
                                        <li>Посуда и принадлежности (посуда для нагревания мыльной основы, всевозможные палочки, ложки, спреи)</li>
                                    </ul>
                                    <p>
                                        Это тот необходимый минимум, который понадобится вам для создания вашего первого шедевра.
                                    </p>
                                </div>
                                
                            </div>
                        </article>

                        <article class="blog-article" id="article-2">

                            <header class="blog-article__header">
                                <h2 class="blog-article__title">Приступаем к работе</h2>
                                <span class="blog-article__subtitle">Начинаем творить!</span>
                            </header>

                            <div class="blog-article__content">
                                <picture>
                                    <source media="(max-width: 600px)" data-srcset="./assets/images/blog/mobile/soap-splash-2-mobile.jpg">
                                    <img data-src="./assets/images/blog/soap-splash-2.jpg" alt="мыло своими руками" class="blog-article__image lazyload">
                                </picture>
                                <div class="blog-article__text">
                                    <p>
                                        Для начала нужно измельчить мыльную основу, для этого подойдет терка с крупными отверстиями или обычный кухонный нож. 
                                        Далее вам необходимо расплавить ее в микроволновой печи или на водяной бане.
                                    </p>
                                    <p>
                                        Можно добавить воду или молочные продукты (например, молоко или сливки) для получения более нежной и сметанообразной массы.
                                    </p>
                                    <p>
                                        После того как основа расплавилась, ее снимают с огня и добавляют дополнительные ингредиенты. 
                                        Сюда входят различные эфирные масла, красители и другие элементы для декорирования вашего мыла ручной работы.
                                    </p>
                                    <p>
                                        Необходимо так же выбрать форму будущего мыла. 
                                        В магазинах представлено большое количество их всевозможных вариаций, остается только купить. 
                                        Для придания мылу, сделанному своими руками, весеннего настроения, подойдут например формы в виде цветов. 
                                        Если вы делаете мыло для мужчин или детей, то вы обязательно найдете подходящий дизайн и для них, все зависит лишь от вашей фантазии.
                                    </p>

                                    <h3>Виды форм</h3>
                                    <p>
                                        Как уже упоминалось ранее, существует 2 основных вида форм:
                                    </p>
                                    <ol>
                                        <li>пластиковые</li>
                                        <li>силиконовые</li>
                                    </ol>
                                    <p>
                                        Первые отличаются своей дешевизной и большой вариативностью. 
                                        Это могут быть цветы, предметы обихода, различные фрукты и овощи, животные и еще много различных вариантов. 
                                        Из минусов можно отметить то, что они достаточно быстро приходят в негодность. 
                                        В тот момент, когда вы достаете мыло из формы, приходится часто изгибать ее.
                                    </p>
                                    <p>
                                        Вторые незаменимы при создании декоративных маленьких шариков, которые можно добавить в основу, 
                                        для воплощения ваших самых смелых дизайнерских идей. 
                                        Из силиконовых форм очень легко достается мыло, что позволяет ускорить процесс производства. 
                                        Силиконовые формы, в отличие от пластиковых, выдерживают большее количество заливок.
                                    </p>
                                    <p>
                                        Теперь у вас не должно остаться вопросов как сделать мыло. 
                                        Нужно лишь немного попрактиковаться и все получится. Порадуйте себя и своих близких.
                                    </p>
                                </div>
                                
                            </div>
                        </article>
                    </div>

                </div><!--blog inner-->
            </div><!--container-->
        </section>


        {{> subscribe }}
        {{> footer }}
        <div class="modal-overlay">
            {{> modal/modal-thanks}}
        </div>

    </div><!--all wrapper-->
    {{> scripts }}
</body>