<body class="page blog-page">
    <div class="all-wrapper">

        <div class="scroll-top">
            <a href="#top" class="scroll-top__link" title="Вверх">
                <svg class="soap-icon" width="50" height="50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path class="soap-icon__bubble" d="M43.78 40.68a4.364 4.364 0 1 1 0-8.73 4.364 4.364 0 0 1 0 8.73zM39.416 49.546a3.274 3.274 0 1 1 0-6.549 3.274 3.274 0 0 1 0 6.549z" fill="#D2E7FA"/>
                        <path d="M34.833 40.06v-.001c0-1.503-.226-3.55-.568-5.632a40.812 40.812 0 0 1 0-13.25c.342-2.082.568-4.13.568-5.632 0-5.49-4.822-9.94-10.77-9.94h-5.108c-5.948 0-10.77 4.45-10.77 9.94 0 1.503.226 3.55.569 5.632a40.833 40.833 0 0 1 0 13.25c-.343 2.082-.569 4.129-.569 5.632 0 5.49 4.822 9.94 10.77 9.94h5.109c5.947 0 10.77-4.45 10.77-9.94z" fill="#F95DAA"/>
                        <path d="M24.064 50h-5.109c-2.974 0-5.666-1.112-7.615-2.912-1.949-1.798-3.154-4.284-3.154-7.029 0-1.503.225-3.55.568-5.632a40.791 40.791 0 0 0 0-13.25 51.296 51.296 0 0 1-.413-3.033c-.099-.96-.155-1.848-.155-2.6 0-2.576 1.062-4.924 2.804-6.69a9.267 9.267 0 0 0-1.052 4.29c0 2.197.67 4.266 1.052 6.407 1.104 6.184-.257 12.66-.34 18.886-.034 2.485.594 4.544 2.442 6.25 1.95 1.8 4.641 2.912 7.615 2.912h5.109c3.156 0 5.995-1.253 7.965-3.25C32.047 47.692 28.347 50 24.064 50z" fill="#E53CA4"/>
                        <path d="M14.999 37.644V17.96a3.8 3.8 0 0 1 3.8-3.8h5.421a3.8 3.8 0 0 1 3.8 3.8v19.684a3.8 3.8 0 0 1-3.8 3.8h-5.422a3.8 3.8 0 0 1-3.8-3.8z" fill="#F1C600"/>
                        <path d="M24.22 41.444h-5.422a3.8 3.8 0 0 1-3.8-3.8V17.96a3.8 3.8 0 0 1 3.8-3.8h.14a3.487 3.487 0 0 0-1.834 3.071v19.097a2.441 2.441 0 0 0 2.441 2.441h6.017c.958 0 1.826-.387 2.456-1.014a3.799 3.799 0 0 1-3.798 3.69z" fill="#EFA628"/>
                        <path class="soap-icon__star" d="M14.861 21.089a4.2 4.2 0 0 0 3.176-2.15c.346-.637.292-1.267.504-1.913.192-.588.84-.637 1.377-.744a4.183 4.183 0 0 0 3.333-4.384 4.161 4.161 0 0 0-2.095-3.324 1.201 1.201 0 0 1-.524-1.496c.28-.687.381-1.46.251-2.252a4.184 4.184 0 0 0-4.42-3.476 4.154 4.154 0 0 0-1.83.577 1.22 1.22 0 0 1-1.583-.307A4.164 4.164 0 0 0 9.264.03a4.175 4.175 0 0 0-3.59 3.27c-.129.608.084 1.203-.554 1.574-.592.345-1.239.423-1.8.88a4.202 4.202 0 0 0-1.51 3.722 4.158 4.158 0 0 0 1.782 2.948c.432.297.601.847.456 1.351a4.155 4.155 0 0 0-.124 1.722c.294 2.146 2.223 3.729 4.385 3.593a4.196 4.196 0 0 0 1.214-.259c.518-.194 1.095.01 1.407.468a4.165 4.165 0 0 0 3.931 1.79z" fill="#78BFEA"/>
                        <path class="soap-icon__star" d="M14.86 21.09a4.199 4.199 0 0 0 3.176-2.152 2.05 2.05 0 0 0 .061-.123 4.157 4.157 0 0 1-5.585-1.221c-.312-.458-.89-.663-1.407-.469a4.17 4.17 0 0 1-1.214.259c-2.162.136-4.092-1.446-4.385-3.593a4.163 4.163 0 0 1 .123-1.72c.146-.505-.023-1.055-.456-1.352a4.158 4.158 0 0 1-1.38-5.267c-.162.082-.32.178-.473.301a4.201 4.201 0 0 0-1.51 3.722 4.16 4.16 0 0 0 1.78 2.948c.434.298.603.847.457 1.351a4.169 4.169 0 0 0-.123 1.723c.293 2.145 2.223 3.728 4.385 3.592a4.201 4.201 0 0 0 1.214-.258c.517-.195 1.095.01 1.407.467a4.166 4.166 0 0 0 3.93 1.791z" fill="#3CA7DD"/>
                        <path class="soap-icon__bubble" d="M30.125 11.161a3.274 3.274 0 1 1 0-6.547 3.274 3.274 0 0 1 0 6.547z" fill="#D2E7FA"/>
                    </g>
                </svg>
            </a>
        </div>

        <header class="page-header page-header--blog">
            <div class="page-header__background background"></div>
            <div class="page-header__nav">
                <nav class="navigation">
                    <button class="navigation__toggle" aria-label="toggle navigation menu">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47.7242 39.5977C47.3331 41.9266 45.4365 43.7126 43.0893 43.9648C31.8188 45.1786 20.5475 45.2232 9.27696 44.0971C8.84895 44.0548 8.42171 44.0113 7.9937 43.9648C5.64537 43.7126 3.7487 41.9266 3.35808 39.5977C1.93825 31.1504 1.93825 22.702 3.35808 14.2536C3.7487 11.9247 5.64537 10.1402 7.9937 9.88693C8.42094 9.84116 8.84781 9.79691 9.27506 9.75456C20.5463 8.62923 31.818 8.67272 43.0893 9.88693C45.4365 10.1402 47.3331 11.9247 47.7242 14.2536C49.1436 22.702 49.1436 31.1504 47.7242 39.5977Z" fill="#8E66B5"/>
                            <path d="M47.7242 39.5977C47.3331 41.9266 45.4365 43.7126 43.0893 43.9648C31.8188 45.1786 20.5475 45.2232 9.27696 44.0971C7.69577 43.3483 6.52962 41.8636 6.22749 40.0662C4.75502 31.3057 4.75502 22.546 6.22749 13.7852C6.52962 11.9892 7.69501 10.5042 9.27506 9.75456C20.5463 8.62923 31.818 8.67272 43.0893 9.88693C45.4365 10.1402 47.3331 11.9247 47.7242 14.2536C49.1436 22.702 49.1436 31.1504 47.7242 39.5977V39.5977Z" fill="#BDA4E0"/>
                            <path d="M8.65059 33.9829C7.78314 29.6609 7.78314 25.3389 8.65059 21.0174C9.0324 19.1133 10.6711 17.6981 12.6374 17.5439C21.8791 16.8187 31.1208 16.8187 40.3629 17.5439C42.3293 17.6981 43.9675 19.1133 44.3497 21.0174C45.2168 25.3389 45.2168 29.6609 44.3497 33.9829C43.9675 35.8866 42.3293 37.3023 40.3629 37.4564C31.1208 38.1812 21.8791 38.1812 12.6374 37.4564C10.6711 37.3018 9.0324 35.8866 8.65059 33.9829Z" fill="#8E66B5"/>
                            <path d="M50 11.4628C50 13.9744 47.963 16.0107 45.451 16.0107C43.6592 16.0107 42.1089 14.9734 41.3685 13.4666C40.8195 13.7978 40.1764 13.9889 39.4886 13.9889C37.4794 13.9889 35.8498 12.3604 35.8498 10.3512C35.8498 8.34084 37.4794 6.71196 39.4886 6.71196C39.7419 6.71196 39.9891 6.7379 40.2271 6.78749C39.8869 6.20537 39.6904 5.52902 39.6904 4.80652C39.6904 2.63672 41.4494 0.878906 43.6176 0.878906C45.787 0.878906 47.5452 2.63672 47.5452 4.80652C47.5452 5.66978 47.266 6.4682 46.7934 7.11555C47.5098 7.33681 48.1499 7.72972 48.666 8.24661H48.6671C49.4911 9.06982 50 10.2074 50 11.4628V11.4628Z" fill="#CDCFE0"/>
                            <path d="M45.6841 1.46637C45.4102 1.40533 45.1237 1.37329 44.8311 1.37329C42.6617 1.37329 40.9035 3.1311 40.9035 5.30052C40.9035 6.02341 41.0992 6.69975 41.4402 7.28188C41.2014 7.23228 40.9542 7.20634 40.7009 7.20634C38.6917 7.20634 37.0632 8.83522 37.0632 10.8444C37.0632 12.1349 37.7342 13.2683 38.7474 13.9133C37.093 13.5712 35.8501 12.1071 35.8501 10.3512C35.8501 8.34084 37.4786 6.71196 39.4878 6.71196C39.7415 6.71196 39.9883 6.7379 40.2275 6.78749C39.8872 6.20537 39.6908 5.52902 39.6908 4.80652C39.6908 2.63672 41.4486 0.878906 43.618 0.878906C44.376 0.878906 45.0844 1.09406 45.6841 1.46637V1.46637Z" fill="#ABAEC4"/>
                            <path d="M32.1106 8.07724C32.1106 9.33571 31.242 10.3912 30.0724 10.677C29.8676 10.7285 29.6524 10.7555 29.4323 10.7555C27.9533 10.7555 26.754 9.55582 26.754 8.07724C26.754 6.59752 27.9533 5.39894 29.4323 5.39894C29.6524 5.39894 29.8676 5.42564 30.0724 5.47752C31.242 5.76286 32.1106 6.81877 32.1106 8.07724V8.07724Z" fill="#ABAEC4"/>
                            <path d="M32.1106 8.07724C32.1106 9.33571 31.242 10.3912 30.0724 10.677C28.9028 10.3912 28.0342 9.33571 28.0342 8.07724C28.0342 6.81877 28.9028 5.76286 30.0724 5.47752C31.242 5.76286 32.1106 6.81877 32.1106 8.07724Z" fill="#CDCFE0"/>
                            <path d="M12.8456 8.31795C12.8456 10.0727 11.4227 11.4956 9.66797 11.4956C9.22012 11.4956 8.79402 11.4029 8.40721 11.2362C7.83844 12.9528 6.22139 14.1914 4.31328 14.1914C1.931 14.1914 0.00038147 12.2601 0.00038147 9.8774C0.00038147 7.49588 1.931 5.5645 4.31328 5.5645C5.3463 5.5645 6.29463 5.92842 7.03735 6.53419C7.60918 5.69267 8.57391 5.1403 9.66797 5.1403C10.3317 5.1403 10.9482 5.34401 11.4578 5.69267H11.459C12.2967 6.26526 12.8456 7.22694 12.8456 8.31795Z" fill="#CDCFE0"/>
                            <path d="M11.4578 5.69267C7.34864 5.48248 6.94428 9.49707 6.94428 9.49707C6.94428 9.49707 6.18096 7.83501 7.03736 6.53419C7.60918 5.69267 8.57392 5.1403 9.66797 5.1403C10.3317 5.1403 10.9482 5.34401 11.4578 5.69267Z" fill="#ABAEC4"/>
                            <path d="M1.88599 9.87778C1.88599 11.9358 3.32756 13.6574 5.25513 14.0877C4.95224 14.156 4.63676 14.1922 4.31328 14.1922C1.93062 14.1922 0 12.2604 0 9.87778C0 7.49626 1.93062 5.56488 4.31328 5.56488C4.63791 5.56488 4.95415 5.60074 5.25818 5.66826C3.3287 6.09741 1.88599 7.82013 1.88599 9.87778Z" fill="#ABAEC4"/>
                            <path d="M12.3013 42.086C11.9865 42.086 11.6817 42.1276 11.3911 42.2047C11.3911 42.1989 11.3914 42.1928 11.3914 42.1871C11.3914 39.8987 9.53636 38.0432 7.24792 38.0432C4.95949 38.0432 3.10402 39.8987 3.10402 42.1871C3.10402 44.4756 4.95949 46.3306 7.24792 46.3306C7.79228 46.3306 8.31184 46.2246 8.7883 46.0339C8.992 47.794 10.4866 49.1608 12.3013 49.1608C14.2551 49.1608 15.8386 47.5769 15.8386 45.6234C15.8386 43.6699 14.2548 42.086 12.3013 42.086V42.086Z" fill="#CDCFE0"/>
                            <path d="M8.12454 46.2376C7.84225 46.2986 7.54967 46.3306 7.24869 46.3306C4.96025 46.3306 3.10402 44.4756 3.10402 42.1871C3.10402 39.8987 4.96025 38.0436 7.24869 38.0436C7.54967 38.0436 7.84225 38.0756 8.12454 38.1367C6.25687 38.5387 4.85687 40.1997 4.85687 42.1871C4.85687 44.1746 6.25687 45.8351 8.12454 46.2376Z" fill="#ABAEC4"/>
                            <path d="M13.179 49.0513C12.899 49.1226 12.6053 49.1608 12.302 49.1608C10.5896 49.1608 9.16176 47.9439 8.83484 46.3276C8.88977 46.3295 8.9447 46.3306 9.0004 46.3306C9.54437 46.3306 10.0643 46.225 10.54 46.0339C10.7098 47.5014 11.7767 48.6946 13.179 49.0513V49.0513Z" fill="#ABAEC4"/>
                            <path d="M48.666 8.24661C44.8421 6.9519 42.7223 9.91249 42.7223 9.91249C42.9249 7.35207 45.5864 6.84662 46.7934 7.11555C47.5098 7.33681 48.1499 7.72972 48.666 8.24661V8.24661Z" fill="#ABAEC4"/>
                            <path class="navigation__toggle-top" d="M13 20.9643C13 20.4263 13.426 19.9848 13.9637 19.9656L27 19.5L40.0363 19.9656C40.574 19.9848 41 20.4263 41 20.9643V20.9643C41 21.5302 40.5305 21.9832 39.965 21.963L27 21.5L14.035 21.963C13.4695 21.9832 13 21.5302 13 20.9643V20.9643Z" fill="#BDA4E0"/>
                            <path class="navigation__toggle-mid" d="M13 26.9649C13 26.4265 13.4263 25.9848 13.9643 25.9656L27 25.5L40.0357 25.9656C40.5737 25.9848 41 26.4265 41 26.9649V27.0351C41 27.5735 40.5737 28.0152 40.0357 28.0344L27 28.5L13.9643 28.0344C13.4263 28.0152 13 27.5735 13 27.0351V26.9649Z" fill="#BDA4E0"/>
                            <path class="navigation__toggle-bot" d="M13 33.0357C13 32.4698 13.4695 32.0168 14.035 32.037L27 32.5L39.965 32.037C40.5305 32.0168 41 32.4698 41 33.0357V33.0357C41 33.5737 40.574 34.0152 40.0363 34.0344L27 34.5L13.9637 34.0344C13.426 34.0152 13 33.5737 13 33.0357V33.0357Z" fill="#BDA4E0"/>
                        </svg>
                    </button>
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="index.html" class="navigation__link">На главную</a></li>

                        <li class="navigation__item navigation__item--current">
                            <a href="blog.html" class="navigation__link">Статьи</a>
                            <nav class="navigation__dropdown navigation-dropdown">
                                <ul class="navigation-dropdown__list">
                                    <li class="navigation-dropdown__item">
                                        <a href="#article-1" class="navigation-dropdown__link">Как создаются шедевры</a>
                                    </li>
                                    <li class="navigation-dropdown__item">
                                        <a href="#article-2" class="navigation-dropdown__link">Приступаем к работе</a>
                                    </li>
                                </ul>
                            </nav>

                        </li>
                        <li class="navigation__item"><a href="gallery.html" class="navigation__link">Галерея</a></li>
                        <li class="navigation__item"><a href="faq.html" class="navigation__link">FAQ</a></li>
                    </ul>
                </nav>
            </div>

            <div class="container">
                <h1 class="page-header__title page-header__title--fade"> </h1>
                <span class="page-header__subtitle page-header__subtitle--hidden">Handmade soap</span>
            </div>


            <div class="page-header__slider">
                <div class="blog-slider">
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/coffee-fade.png" alt="Кофейные зерна" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/orange-fade.png" alt="Сочный апельсин" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/strawberry-fade.png" alt="Спелая клубника" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/argan-fade.png" alt="Аргановое масло" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/coconut-fade.png" alt="Кокосовое молоко" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/shea-fade.png" alt="Масло ши" class="blog-slider__img">
                        </div>
                    </div>
                </div>
            </div>

            <span class="page-header__slogan">Создай себе летнее настроение</span>

            <button class="page-header__button button js-blog-action">Узнать больше</button>

        </header>


        <section class="blog">
            <div class="blog__background background"></div>
            <div class="container">
                <div class="blog__inner">

                    <div class="blog__articles" id="articles">
                        <article class="blog-article" id="article-1">

                            <header class="blog-article__header">
                                <h2 class="blog-article__title">Как создаются шедевры</h2>
                                <span class="blog-article__subtitle">Вводный инструктаж</span>
                            </header>

                            <div class="blog-article__content">
                                <picture>
                                    <source media="(max-width: 600px)" data-srcset="./assets/images/blog/mobile/soap-splash-1-mobile.jpg">
                                    <img data-src="./assets/images/blog/soap-splash-1.jpg" alt="мыло ручной работы" class="blog-article__image lazyload">
                                </picture>
                                <div class="blog-article__text">
                                    <p>
                                        Далеко не все знают, как создается мыло ручной работы (иначе говоря, хенд мейд). 
                                        Но в этой статье мы посвятим вас в таинство мыловарения, и может кто-то захочет приобщиться к этому искусству.
                                    </p>
                                    <p>
                                        Главными преимуществами мыла ручной работы являются:
                                    </p>
                                    <ul>
                                        <li>натуральность продукта,</li>
                                        <li>уникальность ароматов и масел,</li>
                                        <li>индивидуальность</li>
                                    </ul>
                                    <p>
                                        Давайте подробнее разберем каждый из пунктов.
                                    </p>

                                    <h3>Натуральность</h3>
                                    <p>
                                        Что подразумевается под этим? Все ингредиенты, входящие в мыло ручной работы, 
                                        натуральны по своему природному происхождению с минимальным количеством синтетических добавок. 
                                        За счет этого достигается максимальный косметический эффект. 
                                        Такое мыло, в отличие от магазинного, меньше вызывает аллергические реакции.
                                    </p>

                                    <h3>Уникальность</h3>
                                    <p>
                                        При создании мыла своими руками можно смешивать разные ароматы, чтобы воплотить в жизнь свои самые смелые идеи. 
                                        Как вам черника и огурец? Здесь все зависит только от вашей фантазии. 
                                        Да, наверняка не все ароматы сочетаются друг с другом, но никто не мешает вам экспериментировать с ними.
                                    </p>

                                    <h3>Индивидуальность</h3>
                                    <p>
                                        Все люди разные, каждый имеет свое предпочтение по отношению к чему-либо и мыло ручной работы не является исключением. 
                                        Но еще очень важно учитывать типы кожи человека, если вы хотите чтобы ваше мыло приносило удовольствие от использования. 
                                        Женщинам подойдут одни ингредиенты, мужчинам другие, а детям желательно не добавлять никаких аллергенов.
                                    </p>

                                    <p>
                                        Конечно, это все можно найти и в магазинном мыле, но тогда зачем вы читаете эту статью? 
                                        Основным преимуществом мыла ручной работы является возможность комбинировать его составляющие 
                                        в разных пропорциях и получать совершенно невообразимые вещи.
                                    </p>

                                    <h3>Ингредиенты</h3>
                                    <p>
                                        Чтобы приступить к изготовлению мыла своими руками, вам понадобятся следующие ингредиенты:
                                    </p>
                                    <ul>
                                        <li>Мыльная основа (самая главная часть, которая и является самим мылом)</li>
                                        <li>Растительные масла (это может быть любое масло растительного происхождения, например абрикосовое или оливковое)</li>
                                        <li>Красители (лучше использовать натуральные или пищевые)</li>
                                        <li>Эфирные масла (от этого ингредиента зависит то, к какому типу кожи подойдет ваше мыло)</li>
                                        <li>Спирт (обычный медицинский спирт)</li>
                                        <li>Формы (пластиковые или силиконовые формы, вторые гораздо дороже, но и служат дольше)</li>
                                        <li>Посуда и принадлежности (посуда для нагревания мыльной основы, всевозможные палочки, ложки, спреи)</li>
                                    </ul>
                                    <p>
                                        Это тот необходимый минимум, который понадобится вам для создания вашего первого шедевра.
                                    </p>
                                </div>
                                
                            </div>
                        </article>

                        <article class="blog-article" id="article-2">

                            <header class="blog-article__header">
                                <h2 class="blog-article__title">Приступаем к работе</h2>
                                <span class="blog-article__subtitle">Начинаем творить!</span>
                            </header>

                            <div class="blog-article__content">
                                <picture>
                                    <source media="(max-width: 600px)" data-srcset="./assets/images/blog/mobile/soap-splash-2-mobile.jpg">
                                    <img data-src="./assets/images/blog/soap-splash-2.jpg" alt="мыло своими руками" class="blog-article__image lazyload">
                                </picture>
                                <div class="blog-article__text">
                                    <p>
                                        Для начала нужно измельчить мыльную основу, для этого подойдет терка с крупными отверстиями или обычный кухонный нож. 
                                        Далее вам необходимо расплавить ее в микроволновой печи или на водяной бане.
                                    </p>
                                    <p>
                                        Можно добавить воду или молочные продукты (например, молоко или сливки) для получения более нежной и сметанообразной массы.
                                    </p>
                                    <p>
                                        После того как основа расплавилась, ее снимают с огня и добавляют дополнительные ингредиенты. 
                                        Сюда входят различные эфирные масла, красители и другие элементы для декорирования вашего мыла ручной работы.
                                    </p>
                                    <p>
                                        Необходимо так же выбрать форму будущего мыла. 
                                        В магазинах представлено большое количество их всевозможных вариаций, остается только купить. 
                                        Для придания мылу, сделанному своими руками, весеннего настроения, подойдут например формы в виде цветов. 
                                        Если вы делаете мыло для мужчин или детей, то вы обязательно найдете подходящий дизайн и для них, все зависит лишь от вашей фантазии.
                                    </p>

                                    <h3>Виды форм</h3>
                                    <p>
                                        Как уже упоминалось ранее, существует 2 основных вида форм:
                                    </p>
                                    <ol>
                                        <li>пластиковые</li>
                                        <li>силиконовые</li>
                                    </ol>
                                    <p>
                                        Первые отличаются своей дешевизной и большой вариативностью. 
                                        Это могут быть цветы, предметы обихода, различные фрукты и овощи, животные и еще много различных вариантов. 
                                        Из минусов можно отметить то, что они достаточно быстро приходят в негодность. 
                                        В тот момент, когда вы достаете мыло из формы, приходится часто изгибать ее.
                                    </p>
                                    <p>
                                        Вторые незаменимы при создании декоративных маленьких шариков, которые можно добавить в основу, 
                                        для воплощения ваших самых смелых дизайнерских идей. 
                                        Из силиконовых форм очень легко достается мыло, что позволяет ускорить процесс производства. 
                                        Силиконовые формы, в отличие от пластиковых, выдерживают большее количество заливок.
                                    </p>
                                    <p>
                                        Теперь у вас не должно остаться вопросов как сделать мыло. 
                                        Нужно лишь немного попрактиковаться и все получится. Порадуйте себя и своих близких.
                                    </p>
                                </div>
                                
                            </div>
                        </article>
                    </div>

                </div><!--blog inner-->
            </div><!--container-->
        </section>


        {{> subscribe }}

        
        {{> footer }}


        <div class="modal-overlay">
            <div class="modal" id="modal-thanks" tabindex="0">
                <button class="modal__close js-close-modal">
                    <svg class="modal__close-icon" width="100%" height="100%">
                        <path d="M20.13 8.11l-5.61 5.61-5.6-5.61-.81.8 5.61 5.61-5.61 5.61.8.8 5.61-5.6 5.61 5.6.8-.8-5.6-5.6 5.6-5.62" fill-rule="evenodd"></path>
                    </svg>
                </button>
                <header class="modal__header">
                    <h2 class="modal__title">Благодарим за подписку</h2>
                    <span class="modal__subtitle">
                        Теперь вы будете получать все самые свежие новости о мыле ручной работы.
                    </span>
                </header>
                <div class="modal__content">
                    <p>
                        Вы можете продолжить чтение интересных статей в <a class="modal__link" href="/blog.html">блоге</a>
                        или ознакомиться с примерами работ в нашей <a href="/gallery.html" class="modal__link">галерее</a>.
                    </p>
                </div>
            </div>
        </div>

    </div><!--all wrapper-->
    {{> scripts }}
</body>