<body class="page blog-page">
    <div class="all-wrapper">

        <div class="scroll-top">
            <a href="#top" class="scroll-top__link" title="Вверх">
                <svg class="soap-icon" width="50" height="50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path class="soap-icon__bubble" d="M43.78 40.68a4.364 4.364 0 1 1 0-8.73 4.364 4.364 0 0 1 0 8.73zM39.416 49.546a3.274 3.274 0 1 1 0-6.549 3.274 3.274 0 0 1 0 6.549z" fill="#D2E7FA"/>
                        <path d="M34.833 40.06v-.001c0-1.503-.226-3.55-.568-5.632a40.812 40.812 0 0 1 0-13.25c.342-2.082.568-4.13.568-5.632 0-5.49-4.822-9.94-10.77-9.94h-5.108c-5.948 0-10.77 4.45-10.77 9.94 0 1.503.226 3.55.569 5.632a40.833 40.833 0 0 1 0 13.25c-.343 2.082-.569 4.129-.569 5.632 0 5.49 4.822 9.94 10.77 9.94h5.109c5.947 0 10.77-4.45 10.77-9.94z" fill="#F95DAA"/>
                        <path d="M24.064 50h-5.109c-2.974 0-5.666-1.112-7.615-2.912-1.949-1.798-3.154-4.284-3.154-7.029 0-1.503.225-3.55.568-5.632a40.791 40.791 0 0 0 0-13.25 51.296 51.296 0 0 1-.413-3.033c-.099-.96-.155-1.848-.155-2.6 0-2.576 1.062-4.924 2.804-6.69a9.267 9.267 0 0 0-1.052 4.29c0 2.197.67 4.266 1.052 6.407 1.104 6.184-.257 12.66-.34 18.886-.034 2.485.594 4.544 2.442 6.25 1.95 1.8 4.641 2.912 7.615 2.912h5.109c3.156 0 5.995-1.253 7.965-3.25C32.047 47.692 28.347 50 24.064 50z" fill="#E53CA4"/>
                        <path d="M14.999 37.644V17.96a3.8 3.8 0 0 1 3.8-3.8h5.421a3.8 3.8 0 0 1 3.8 3.8v19.684a3.8 3.8 0 0 1-3.8 3.8h-5.422a3.8 3.8 0 0 1-3.8-3.8z" fill="#F1C600"/>
                        <path d="M24.22 41.444h-5.422a3.8 3.8 0 0 1-3.8-3.8V17.96a3.8 3.8 0 0 1 3.8-3.8h.14a3.487 3.487 0 0 0-1.834 3.071v19.097a2.441 2.441 0 0 0 2.441 2.441h6.017c.958 0 1.826-.387 2.456-1.014a3.799 3.799 0 0 1-3.798 3.69z" fill="#EFA628"/>
                        <path class="soap-icon__star" d="M14.861 21.089a4.2 4.2 0 0 0 3.176-2.15c.346-.637.292-1.267.504-1.913.192-.588.84-.637 1.377-.744a4.183 4.183 0 0 0 3.333-4.384 4.161 4.161 0 0 0-2.095-3.324 1.201 1.201 0 0 1-.524-1.496c.28-.687.381-1.46.251-2.252a4.184 4.184 0 0 0-4.42-3.476 4.154 4.154 0 0 0-1.83.577 1.22 1.22 0 0 1-1.583-.307A4.164 4.164 0 0 0 9.264.03a4.175 4.175 0 0 0-3.59 3.27c-.129.608.084 1.203-.554 1.574-.592.345-1.239.423-1.8.88a4.202 4.202 0 0 0-1.51 3.722 4.158 4.158 0 0 0 1.782 2.948c.432.297.601.847.456 1.351a4.155 4.155 0 0 0-.124 1.722c.294 2.146 2.223 3.729 4.385 3.593a4.196 4.196 0 0 0 1.214-.259c.518-.194 1.095.01 1.407.468a4.165 4.165 0 0 0 3.931 1.79z" fill="#78BFEA"/>
                        <path class="soap-icon__star" d="M14.86 21.09a4.199 4.199 0 0 0 3.176-2.152 2.05 2.05 0 0 0 .061-.123 4.157 4.157 0 0 1-5.585-1.221c-.312-.458-.89-.663-1.407-.469a4.17 4.17 0 0 1-1.214.259c-2.162.136-4.092-1.446-4.385-3.593a4.163 4.163 0 0 1 .123-1.72c.146-.505-.023-1.055-.456-1.352a4.158 4.158 0 0 1-1.38-5.267c-.162.082-.32.178-.473.301a4.201 4.201 0 0 0-1.51 3.722 4.16 4.16 0 0 0 1.78 2.948c.434.298.603.847.457 1.351a4.169 4.169 0 0 0-.123 1.723c.293 2.145 2.223 3.728 4.385 3.592a4.201 4.201 0 0 0 1.214-.258c.517-.195 1.095.01 1.407.467a4.166 4.166 0 0 0 3.93 1.791z" fill="#3CA7DD"/>
                        <path class="soap-icon__bubble" d="M30.125 11.161a3.274 3.274 0 1 1 0-6.547 3.274 3.274 0 0 1 0 6.547z" fill="#D2E7FA"/>
                    </g>
                </svg>
            </a>
        </div>

        <header class="page-header page-header--blog">
            <div class="page-header__background background"></div>
            <div class="page-header__nav">
                {{> navigation}}
            </div>

            <div class="container">
                <h1 class="page-header__title page-header__title--fade"> </h1>
                <span class="page-header__subtitle page-header__subtitle--hidden">Handmade soap</span>
            </div>


            <div class="page-header__slider">
                <div class="blog-slider">
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/coffee-fade.png" alt="Кофейные зерна" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/orange-fade.png" alt="Сочный апельсин" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/strawberry-fade.png" alt="Спелая клубника" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/argan-fade.png" alt="Аргановое масло" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/coconut-fade.png" alt="Кокосовое молоко" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/shea-fade.png" alt="Масло ши" class="blog-slider__img">
                        </div>
                    </div>
                </div>
            </div>

            <span class="page-header__slogan">Создай себе летнее настроение</span>

            <button class="page-header__button button js-blog-action">Узнать больше</button>

        </header>


        <section class="blog">
            <div class="blog__background background"></div>
            <div class="container">
                <div class="blog__inner">

                    <div class="blog__articles" id="articles">
                        <article class="blog-article" id="article-1">

                            <header class="blog-article__header">
                                <h2 class="blog-article__title">Как создаются шедевры</h2>
                                <span class="blog-article__subtitle">Вводный инструктаж</span>
                            </header>

                            <div class="blog-article__content">
                                <picture>
                                    <source media="(max-width: 600px)" data-srcset="./assets/images/blog/mobile/soap-splash-1-mobile.jpg">
                                    <img data-src="./assets/images/blog/soap-splash-1.jpg" alt="мыло ручной работы" class="blog-article__image lazyload">
                                </picture>
                                <div class="blog-article__text">
                                    <p>
                                        Далеко не все знают, как создается мыло ручной работы (иначе говоря, хенд мейд). 
                                        Но в этой статье мы посвятим вас в таинство мыловарения, и может кто-то захочет приобщиться к этому искусству.
                                    </p>
                                    <p>
                                        Главными преимуществами мыла ручной работы являются:
                                    </p>
                                    <ul>
                                        <li>натуральность продукта,</li>
                                        <li>уникальность ароматов и масел,</li>
                                        <li>индивидуальность</li>
                                    </ul>
                                    <p>
                                        Давайте подробнее разберем каждый из пунктов.
                                    </p>

                                    <h3>Натуральность</h3>
                                    <p>
                                        Что подразумевается под этим? Все ингредиенты, входящие в мыло ручной работы, 
                                        натуральны по своему природному происхождению с минимальным количеством синтетических добавок. 
                                        За счет этого достигается максимальный косметический эффект. 
                                        Такое мыло, в отличие от магазинного, меньше вызывает аллергические реакции.
                                    </p>

                                    <h3>Уникальность</h3>
                                    <p>
                                        При создании мыла своими руками можно смешивать разные ароматы, чтобы воплотить в жизнь свои самые смелые идеи. 
                                        Как вам черника и огурец? Здесь все зависит только от вашей фантазии. 
                                        Да, наверняка не все ароматы сочетаются друг с другом, но никто не мешает вам экспериментировать с ними.
                                    </p>

                                    <h3>Индивидуальность</h3>
                                    <p>
                                        Все люди разные, каждый имеет свое предпочтение по отношению к чему-либо и мыло ручной работы не является исключением. 
                                        Но еще очень важно учитывать типы кожи человека, если вы хотите чтобы ваше мыло приносило удовольствие от использования. 
                                        Женщинам подойдут одни ингредиенты, мужчинам другие, а детям желательно не добавлять никаких аллергенов.
                                    </p>

                                    <p>
                                        Конечно, это все можно найти и в магазинном мыле, но тогда зачем вы читаете эту статью? 
                                        Основным преимуществом мыла ручной работы является возможность комбинировать его составляющие 
                                        в разных пропорциях и получать совершенно невообразимые вещи.
                                    </p>

                                    <h3>Ингредиенты</h3>
                                    <p>
                                        Чтобы приступить к изготовлению мыла своими руками, вам понадобятся следующие ингредиенты:
                                    </p>
                                    <ul>
                                        <li>Мыльная основа (самая главная часть, которая и является самим мылом)</li>
                                        <li>Растительные масла (это может быть любое масло растительного происхождения, например абрикосовое или оливковое)</li>
                                        <li>Красители (лучше использовать натуральные или пищевые)</li>
                                        <li>Эфирные масла (от этого ингредиента зависит то, к какому типу кожи подойдет ваше мыло)</li>
                                        <li>Спирт (обычный медицинский спирт)</li>
                                        <li>Формы (пластиковые или силиконовые формы, вторые гораздо дороже, но и служат дольше)</li>
                                        <li>Посуда и принадлежности (посуда для нагревания мыльной основы, всевозможные палочки, ложки, спреи)</li>
                                    </ul>
                                    <p>
                                        Это тот необходимый минимум, который понадобится вам для создания вашего первого шедевра.
                                    </p>
                                </div>
                                
                            </div>
                        </article>

                        <article class="blog-article" id="article-2">

                            <header class="blog-article__header">
                                <h2 class="blog-article__title">Приступаем к работе</h2>
                                <span class="blog-article__subtitle">Начинаем творить!</span>
                            </header>

                            <div class="blog-article__content">
                                <picture>
                                    <source media="(max-width: 600px)" data-srcset="./assets/images/blog/mobile/soap-splash-2-mobile.jpg">
                                    <img data-src="./assets/images/blog/soap-splash-2.jpg" alt="мыло своими руками" class="blog-article__image lazyload">
                                </picture>
                                <div class="blog-article__text">
                                    <p>
                                        Для начала нужно измельчить мыльную основу, для этого подойдет терка с крупными отверстиями или обычный кухонный нож. 
                                        Далее вам необходимо расплавить ее в микроволновой печи или на водяной бане.
                                    </p>
                                    <p>
                                        Можно добавить воду или молочные продукты (например, молоко или сливки) для получения более нежной и сметанообразной массы.
                                    </p>
                                    <p>
                                        После того как основа расплавилась, ее снимают с огня и добавляют дополнительные ингредиенты. 
                                        Сюда входят различные эфирные масла, красители и другие элементы для декорирования вашего мыла ручной работы.
                                    </p>
                                    <p>
                                        Необходимо так же выбрать форму будущего мыла. 
                                        В магазинах представлено большое количество их всевозможных вариаций, остается только купить. 
                                        Для придания мылу, сделанному своими руками, весеннего настроения, подойдут например формы в виде цветов. 
                                        Если вы делаете мыло для мужчин или детей, то вы обязательно найдете подходящий дизайн и для них, все зависит лишь от вашей фантазии.
                                    </p>

                                    <h3>Виды форм</h3>
                                    <p>
                                        Как уже упоминалось ранее, существует 2 основных вида форм:
                                    </p>
                                    <ol>
                                        <li>пластиковые</li>
                                        <li>силиконовые</li>
                                    </ol>
                                    <p>
                                        Первые отличаются своей дешевизной и большой вариативностью. 
                                        Это могут быть цветы, предметы обихода, различные фрукты и овощи, животные и еще много различных вариантов. 
                                        Из минусов можно отметить то, что они достаточно быстро приходят в негодность. 
                                        В тот момент, когда вы достаете мыло из формы, приходится часто изгибать ее.
                                    </p>
                                    <p>
                                        Вторые незаменимы при создании декоративных маленьких шариков, которые можно добавить в основу, 
                                        для воплощения ваших самых смелых дизайнерских идей. 
                                        Из силиконовых форм очень легко достается мыло, что позволяет ускорить процесс производства. 
                                        Силиконовые формы, в отличие от пластиковых, выдерживают большее количество заливок.
                                    </p>
                                    <p>
                                        Теперь у вас не должно остаться вопросов как сделать мыло. 
                                        Нужно лишь немного попрактиковаться и все получится. Порадуйте себя и своих близких.
                                    </p>
                                </div>
                                
                            </div>
                        </article>
                    </div>

                </div><!--blog inner-->
            </div><!--container-->
        </section>


        {{> subscribe }}
        {{> footer }}
        <div class="modal-overlay">
            {{> modal/modal-thanks}}
        </div>

    </div><!--all wrapper-->
    {{> scripts }}
</body>