<body class="page faq-page">
    <div class="all-wrapper">

        {{> blocks/scroll-top }}

        <header class="page-header page-header--faq">
            <div class="page-header__background background"></div>
            <div class="page-header__nav">
                {{> navigation}}
            </div>
            <h1 class="page-header__title">Часто задаваемые вопросы</h1>
            <span class="page-header__subtitle">Handmade soap</span>
        </header>


        <section class="faq" id="faq">
            <div class="faq__background background"></div>
            <div class="container">
                <div class="faq__inner">
                    <button class="button faq__button">Подробнее</button>
                    <div class="faq__accordion">
                        <div class="accordion accordion--hidden">
                            {{#each faqItems}}
                                <div class="accordion__item">
                                    <button class="accordion__toggle">{{#each this}}{{title}}{{/each}}</button>
                                    <div class="accordion__content">
                                        <p class="accordion__text">{{#each this}}{{description}}{{/each}}</p>
                                    </div>
                                </div>
                            {{/each}}
                        </div><!--accordion-->
                    </div>
                </div><!--faq inner-->
            </div><!--container-->
        </section>


        {{> subscribe }}
        {{> footer }}
        <div class="modal-overlay">
            {{> modal/modal-thanks}}
        </div>

    </div><!--all wrapper-->
    {{> scripts }}
</body>