<body class="page gallery-page">
    <div class="all-wrapper">

        {{> blocks/scroll-top }}

        <header class="page-header page-header--gallery">
            <div class="page-header__background background"></div>
            <div class="page-header__nav">
                {{> navigation}}
            </div>
            <h1 class="page-header__title">Галерея работ</h1>
            <span class="page-header__subtitle">Handmade soap</span>

            <div class="photo-cards">
                <ul class="photo-cards__list">
                    <li class="photo-cards__item">
                        <div class="photo-cards__image">
                            <img src="./assets/images/gallery/photo-7.jpg" alt="">
                        </div>
                        <span class="photo-cards__caption">Выбери</span>
                    </li>
                    <li class="photo-cards__item">
                        <div class="photo-cards__image">
                            <img src="./assets/images/gallery/photo-2.jpg" alt="">
                        </div>
                        <span class="photo-cards__caption">свой</span>
                    </li>
                    <li class="photo-cards__item">
                        <div class="photo-cards__image">
                            <img src="./assets/images/gallery/photo-6.jpg" alt="">
                        </div>
                        <span class="photo-cards__caption">уникальный</span>
                    </li>
                    <li class="photo-cards__item">
                        <div class="photo-cards__image">
                            <img src="./assets/images/gallery/photo-3.jpg" alt="">
                        </div>
                        <span class="photo-cards__caption">дизайн</span>
                    </li>
                    <li class="photo-cards__item">
                        <div class="photo-cards__image">
                            <img src="./assets/images/gallery/photo-5.jpg" alt="">
                        </div>
                        <span class="photo-cards__caption">мыла</span>
                    </li>
                </ul>
            </div>

        </header>


        <section class="gallery" id="gallery">
            <div class="gallery__background background"></div>
            <div class="container">
                <div class="gallery__inner">

                    <div class="gallery-photos">
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-1.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-2.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-3.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-4.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-5.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-6.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-7.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        <div class="gallery-photos__item">
                            <img class="gallery-photos__image" src="./assets/images/gallery/photo-8.jpg" alt="Мыло ручной работы" tabindex="0">
                        </div>
                        
                    </div>

                </div><!--gallery inner-->
            </div><!--container-->
        </section>


        {{> subscribe }}
        {{> footer }}
        <div class="modal-overlay">
            {{> modal/modal-thanks}}
        </div>

    </div><!--all wrapper-->

    {{> scripts}}
</body>
